<div class="float-right" style="padding-right:30px; padding-top: 20px;">
    <a class="btn btn-outline-success" [routerLink]="['/create']">Create Album</a>

</div>
<br>
<h1>My Albums</h1>
<p>All my Albums will be Listed here!</p>


<div class="row">
    <div class="col-sm-4 pt-3 " *ngFor="let album of albums">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="album.coverPhotoUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{album.title}}</h5>
                <a [routerLink]="['/album',album.id]" class="btn btn-primary">Go to Album</a>
            </div>
        </div>
    </div>
</div>